.gallery:hover
	cursor: pointer

.social
	margin: 0 auto
	text-align: center
	strong
		color: #202020

.social-icon
	max-width: 40px
	font-size: 40px
	margin-left: -5px
	color: white
	
.social-wrap
	padding: 60px
	text-align: center
	height: 240px
	margin: 0 auto
	background: #2b90d9
	color: white
